.main-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.text-side {
    margin-top: 10rem;
    padding: 50px;
}

@media screen and (max-width:768px) {
    .main-container {
        background-color: red;
        display: grid;
        grid-template-columns: 2fr;
    }
}